
        <header class="bg-primary has-sticky-menu">
            <div class="container">
                <div class="header-content text-center">
                    <h2 class="text-white">Ici pour nous contacter</h2>
                    <p class="text-white mb-0"></p>
                </div><!-- / header-content -->
            </div><!-- / container -->
        </header>

        <div class="spacer-2x">&nbsp;</div>

        <section id="contact-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="promo-box inner-space text-center">
                            <img src="images/icons/phone-icon.png" alt="" class="promo-box-icon mb-2">
                            <h5 class="box-title">PHONE</h5>
                            <p class="box-description"><a href="tel:01234567890">034 41 916 07</a></p>
                            <p class="box-description mb-0"><a href="tel:09876543210">034 29 093 40</a></p>
                        </div><!-- / icon-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="promo-box inner-space text-center">
                            <img src="images/icons/map-icon.png" alt="" class="promo-box-icon mb-2">
                            <h5 class="box-title">LOCATION</h5>
                            <p class="box-description">Lot A 192 , rue Rainandriamampadry </p>
                            <p class="box-description mb-0">Faravohitra , Antananarivo</p>
                        </div><!-- / icon-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="promo-box inner-space text-center">
                            <img src="images/icons/email-icon.png" alt="" class="promo-box-icon mb-2">
                            <h5 class="box-title">EMAIL</h5>
                            <p class="box-description"><a href="mailto:office@website.com">hello@sayna.io</a></p>
                            <p class="box-description mb-0"><a href="mailto:info@website.com">saynamadagascar@gmail.com</a></p>
                        </div><!-- / icon-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
        </section><!-- / contact-info -->

        <div class="spacer-2x">&nbsp;</div>

        <section id="contact" class="contact-bg-color dark parallax">
            <div class="container w50">
                <div class="spacer">&nbsp;</div>
                <p class="text-center">Si vous voulez nous contacter ou poser des questions ou faire des suggestions , veuillez remplir ce formulaire</p>
                <div class="spacer">&nbsp;</div>
                <form action="/sendmail" method="post" >
           	        <input type="hidden" name="authenticity_token" value="authenticity_token_key">
					<div class="row">
                        <div class="col-md-6 sub-col-left">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="*Name" name="user[name]" required="required">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div><!-- / sub-column -->
                        <div class="col-md-6 sub-col-right">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="*Email" name="user[email]" required="required">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div><!-- / sub-column -->

                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea id="message" class="form-control" rows="5" placeholder="*Message" name="user[body]" required="required"></textarea>
                                <div class="help-block with-errors text-area"></div>
                            </div>
                        </div><!-- / sub-column -->
                    </div><!-- / row -->

                    <div class="text-center">
                        <button type="submit" id="form-submit" class="btn btn-submit btn-info rectangle">Send Message</button>
                    </div><!-- / text-center -->
                </form><!-- / contactform -->
            </div><!-- / container -->
        </section><!-- / contact -->
