
                <header class="bg-primary has-sticky-menu">
                    <div class="container">
                        <div class="header-content text-center">
                            <h2 class="text-white">TEAM</h2>
                            <p class="text-white mb-0">DREAM team</p>
                        </div><!-- / header-content -->
                    </div><!-- / container -->
                </header>

        <section id="team">
            <div class="container w70">
                <h3 class="section-title text-center">OUR TEAM</h3>
                <div class="spacer">&nbsp;</div>
                <p class="text-center">Aliquam risus nibh, tincidunt at enim vitae, tempor auctor augue. Integer egestas dui quis nulla vulputate, et egestas ipsum placerat. Nulla sit amet pulvinar nibh.</p>
                <div class="spacer-2x">&nbsp;</div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team1.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">JOHN DOE</h6>
                                <p class="mb-1 text-sm">PROJECT MANAGER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team2.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">NATALIE DOE</h6>
                                <p class="mb-1 text-sm">DESIGNER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team3.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">BRIAN DOE</h6>
                                <p class="mb-1 text-sm">DEVELOPER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team1.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">JOHN DOE</h6>
                                <p class="mb-1 text-sm">PROJECT MANAGER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team2.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">NATALIE DOE</h6>
                                <p class="mb-1 text-sm">DESIGNER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team3.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">BRIAN DOE</h6>
                                <p class="mb-1 text-sm">DEVELOPER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team1.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">JOHN DOE</h6>
                                <p class="mb-1 text-sm">PROJECT MANAGER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team2.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">NATALIE DOE</h6>
                                <p class="mb-1 text-sm">DESIGNER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team3.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">BRIAN DOE</h6>
                                <p class="mb-1 text-sm">DEVELOPER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team1.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">JOHN DOE</h6>
                                <p class="mb-1 text-sm">PROJECT MANAGER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team2.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">NATALIE DOE</h6>
                                <p class="mb-1 text-sm">DESIGNER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/team3.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">BRIAN DOE</h6>
                                <p class="mb-1 text-sm">DEVELOPER</p>
                                <div class="social-icons">
                                    <a href="#x" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#x" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="#x" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
        </section><!-- / team -->
