
                <header class="bg-primary has-sticky-menu">
                    <div class="container">
                        <div class="header-content text-center">
                            <h2 class="text-white">DREAM TEAM</h2>
                            <p class="text-white mb-0"> @sayna's Gang</p>
                        </div><!-- / header-content -->
                    </div><!-- / container -->
                </header>

        <section id="team">
            <div class="container w70">
                <h3 class="section-title text-center">NOTRE EQUIPE</h3>
                <div class="spacer">&nbsp;</div>
                <p class="text-center">Une équipe dynamique, qui se donne corps et âme pour redresser Madagascar, en aidant les jeunes du pays à trouver du travail et sortir de la pauvrété.</p>
                <div class="spacer-2x">&nbsp;</div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/staff/matinah.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">Matina</h6>
                                <p class="mb-1 text-sm">CO-FONDATRICE DE SAYNA</p>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/RazafimahefaMatina/" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/razafimahefam?lang=en" class="btn-social btn-twitter-link p-2"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/matina_razafimahefa/?hl=en" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/staff/nirinah.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">Nirina</h6>
                                <p class="mb-1 text-sm">CO-FONDATRICE DE SAYNA</p>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/Nirina.Rahoeliarivahy" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/pat.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">Patrick</h6>
                                <p class="mb-1 text-sm">CTO</p>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/pat.triip?refid=12" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.instagram.com/patpasha/?fbclid=IwAR3SZhR-WS7F4xL-WRYRWr8xGK1dRcPhPKHdnEIp4w61jYtlf7Vz98I0TTI" class="btn-social btn-instagram-link p-2"><i class="fab fa-instagram"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/staff/mialy.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">Mialy</h6>
                                <p class="mb-1 text-sm">LEAD COMMUNITY</p>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/haingminouuch" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/staff/nancy.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">Nancy</h6>
                                <p class="mb-1 text-sm">Chargé de Médiation Emploi</p>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/nancy.nomentsoa" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                  
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/tati.JPG" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">Tatianah</h6>
                                <p class="mb-1 text-sm">COMPTABLE</p>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/tatiana.fitiavana.7" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>

                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/staff/feno.JPG" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">Fenosoa</h6>
                                <p class="mb-1 text-sm">ADMIN</p>
                                <div class="social-icons">

                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/staff/neli.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">Neilly</h6>
                                <p class="mb-1 text-sm">DESIGNER/ DEVELOPPEUR FRONT-END</p>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/gondol.neilly?fref=pb&hc_location=friends_tab" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/staff/mahef.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">Mahefa</h6>
                                <p class="mb-1 text-sm">DEVELOPPEUR FULL-STACK</p>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/profile.php?id=100009483587200" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/staff/sitrakah.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">Fenositraka</h6>
                                <p class="mb-1 text-sm">DEVELOPPEUR BACK-END</p>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/fenositraka.rasolondraibe" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>
                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/staff/andee.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">Andee</h6>
                                <p class="mb-1 text-sm">COMMUNITY MANAGER/ DEVELOPPEUR FRONT-END </p>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/andee.rakut?fref=pb&hc_location=friends_tab" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>

                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                    <div class="col-md-4">
                        <div class="team block image-block text-center">
                            <img src="images/staff/brunoh.jpg" alt="">
                            <div class="team-content inner-space bg-white">
                                <h6 class="box-title">Bruno</h6>
                                <p class="mb-1 text-sm">FORMATEUR SYMPLON</p>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/dano.plack.3" class="btn-social btn-facebook-link p-2"><i class="fab fa-facebook-f"></i></a>

                                </div><!-- / social-icons -->
                            </div><!-- / team-content -->
                        </div><!-- / image-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
        </section><!-- / team -->
