
        <header class="main-demo parallax">
            <div class="container">
                <div class="header-content has-raised-content">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="spacer-2x">&nbsp;</div>
                        </div><!-- / column -->
                        <div class="col-lg-8 text-center">
                            <div class="spacer">&nbsp;</div>
                            <p class="text-white">Ascensseur digital des jeunes talents malagasy. <br><br> <p style="font-size: 45px; color: aliceblue; text-transform: bold;" >𝕌ℙ𝔻𝔸𝕋𝔼 𝕐𝕆𝕌ℝ 𝔹ℝ𝔸𝕀ℕ <br> ℍ𝔸ℂ𝕂 𝕐𝕆𝕌ℝ 𝔽𝕌𝕋𝕌ℝ𝔼</p></p>
                            <div class="spacer">&nbsp;</div>
                            <a href="#about" class="btn btn-info smooth-scroll mt-1">A propos</a>
                        </div><!-- / column -->
                        <div class="col-lg-2">
                            <div class="spacer-2x">&nbsp;</div>
                        </div><!-- / column -->
                    </div><!-- / row -->
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="spacer">&nbsp;</div>
                            <div class="spacer">&nbsp;</div>
                            <p class="text-white" style="font-size: 22px">𝓜𝓪𝓭𝓪𝓰𝓪𝓼𝓬𝓪𝓻</p>
                            <h2 class="text-white">𝐒𝐀𝐘𝐍𝐀</h2>
                        </div><!-- / column -->
                        <div class="col-lg-9">
                            <div class="spacer-2x">&nbsp;</div>
                        </div><!-- / column -->
                    </div><!-- / row -->
                </div><!-- / header-content -->
            </div><!-- / container -->
        </header>

        <section id="about" class="container">
            <div class="boxed-content content-wrapper-raised">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="promo-box text-center inner-space">
                            <img src="images/icons/responsive-icon.png" alt="" class="promo-box-icon">
                            <h5 class="box-title">RESPONSIVE</h5>
                            <p class="box-description">Vestibulum pretium erat a ex eleifend, sodales auctor risus tincidunt. Maecenas sed orci dignissim.</p>
                        </div><!-- / icon-block -->
                    </div><!-- / column -->
                    <div class="col-md-6 col-lg-4">
                        <div class="promo-box text-center inner-space">
                            <img src="images/icons/design-icon.png" alt="" class="promo-box-icon">
                            <h5 class="box-title">MODERN DESIGN</h5>
                            <p class="box-description">Vestibulum pretium erat a ex eleifend, sodales auctor risus tincidunt. Maecenas sed orci dignissim.</p>
                        </div><!-- / icon-block -->
                    </div><!-- / column -->
                    <div class="col-md-6 col-lg-4">
                        <div class="promo-box text-center inner-space">
                            <img src="images/icons/adjust-icon.png" alt="" class="promo-box-icon">
                            <h5 class="box-title">EASY TO EDIT</h5>
                            <p class="box-description">Vestibulum pretium erat a ex eleifend, sodales auctor risus tincidunt. Maecenas sed orci dignissim.</p>
                        </div><!-- / icon-block -->
                    </div><!-- / column -->
                    <div class="col-md-6 col-lg-4">
                        <div class="promo-box text-center inner-space">
                            <img src="images/icons/idea-icon.png" alt="" class="promo-box-icon">
                            <h5 class="box-title">MULTIPURPOSE</h5>
                            <p class="box-description">Vestibulum pretium erat a ex eleifend, sodales auctor risus tincidunt. Maecenas sed orci dignissim.</p>
                        </div><!-- / icon-block -->
                    </div><!-- / column -->
                    <div class="col-md-6 col-lg-4">
                        <div class="promo-box text-center inner-space">
                            <img src="images/icons/navigator-icon.png" alt="" class="promo-box-icon">
                            <h5 class="box-title">HTML5 & CSS3</h5>
                            <p class="box-description">Vestibulum pretium erat a ex eleifend, sodales auctor risus tincidunt. Maecenas sed orci dignissim.</p>
                        </div><!-- / icon-block -->
                    </div><!-- / column -->
                    <div class="col-md-6 col-lg-4">
                        <div class="promo-box text-center inner-space">
                            <img src="images/icons/search-icon.png" alt="" class="promo-box-icon">
                            <h5 class="box-title">SEO READY</h5>
                            <p class="box-description">Vestibulum pretium erat a ex eleifend, sodales auctor risus tincidunt. Maecenas sed orci dignissim.</p>
                        </div><!-- / icon-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / content-wrapper-raised -->
        </section><!-- / about -->

        <section id="portfolio" class="p-0">
            <div class="container">
                <!-- portfolio filter -->
                <ul class="portfolio-filter list-inline text-center">
                    <li><a href="#" data-group="all" class="active ml-2">ALL</a></li>
                    <li><a href="#" data-group="branding">BRANDING</a></li>
                    <li><a href="#" data-group="design">DESIGN</a></li>
                    <li><a href="#" data-group="illustrations">ILLUSTRATIONS</a></li>
                </ul>
                <!-- / portfolio filter -->
            </div><!-- / container -->
            <div class="container">
                <h3 class="section-title hidden">WORK</h3>
                <ul class="row portfolio lightbox list-unstyled mb-0" id="grid">
                    <!-- project -->
                    <li class="col-md-6 col-lg-4 project" data-groups='["illustrations"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project1.jpg" alt="">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <a href="single-project.html">
                                            <h5 class="project-title">PLASTIC POUCH</h5>
                                            <p class="project-skill">ILLUSTRATIONS</p>
                                        </a><!-- / project link -->
                                        <a href="images/project1.jpg" class="image-lightbox"><i class="fas fa-search"></i></a>
                                    </div><!-- / hovereffect-title -->
                                </div><!-- / overlay -->
                            </div><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </li><!-- / project -->

                    <!-- project -->
                    <li class="col-md-6 col-lg-4 project" data-groups='["design", "branding"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project2.jpg" alt="">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <a href="single-project.html">
                                            <h5 class="project-title">BIZ CARDS</h5>
                                            <p class="project-skill">BRANDING, DESIGN</p>
                                        </a><!-- / project link -->
                                        <a href="images/project2.jpg" class="image-lightbox"><i class="fas fa-search"></i></a>
                                    </div><!-- / hovereffect-title -->
                                </div><!-- / overlay -->
                            </div><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </li><!-- / project -->

                    <!-- project -->
                    <li class="col-md-6 col-lg-4 project" data-groups='["illustrations"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project3.jpg" alt="">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <a href="single-project.html">
                                            <h5 class="project-title">PAPER BAG</h5>
                                            <p class="project-skill">ILLUSTRATIONS</p>
                                        </a><!-- / project link -->
                                        <a href="images/project3.jpg" class="image-lightbox"><i class="fas fa-search"></i></a>
                                    </div><!-- / hovereffect-title -->
                                </div><!-- / overlay -->
                            </div><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </li><!-- / project -->

                    <!-- project -->
                    <li class="col-md-6 col-lg-4 project" data-groups='["design"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project4.jpg" alt="">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <a href="single-project.html">
                                            <h5 class="project-title">SNAPBACK CAP</h5>
                                            <p class="project-skill">DESIGN</p>
                                        </a><!-- / project link -->
                                        <a href="images/project4.jpg" class="image-lightbox"><i class="fas fa-search"></i></a>
                                    </div><!-- / hovereffect-title -->
                                </div><!-- / overlay -->
                            </div><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </li><!-- / project -->

                    <!-- project -->
                    <li class="col-md-6 col-lg-4 project" data-groups='["branding"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project5.jpg" alt="">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <a href="single-project.html">
                                            <h5 class="project-title">BRANDIUM</h5>
                                            <p class="project-skill">BRANDING</p>
                                        </a><!-- / project link -->
                                        <a href="images/project5.jpg" class="image-lightbox"><i class="fas fa-search"></i></a>
                                    </div><!-- / hovereffect-title -->
                                </div><!-- / overlay -->
                            </div><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </li><!-- / project -->

                    <!-- project -->
                    <li class="col-md-6 col-lg-4 project" data-groups='["illustrations"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project6.jpg" alt="">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <a href="single-project.html">
                                            <h5 class="project-title">JUST RIDE</h5>
                                            <p class="project-skill">ILLUSTRATIONS</p>
                                        </a><!-- / project link -->
                                        <a href="images/project6.jpg" class="image-lightbox"><i class="fas fa-search"></i></a>
                                    </div><!-- / hovereffect-title -->
                                </div><!-- / overlay -->
                            </div><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </li><!-- / project -->

                    <!-- project -->
                    <li class="col-md-6 col-lg-4 project" data-groups='["branding"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project7.jpg" alt="">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <a href="single-project.html">
                                            <h5 class="project-title">CAFE CUP</h5>
                                            <p class="project-skill">BRANDING</p>
                                        </a><!-- / project link -->
                                        <a href="images/project7.jpg" class="image-lightbox"><i class="fas fa-search"></i></a>
                                    </div><!-- / hovereffect-title -->
                                </div><!-- / overlay -->
                            </div><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </li><!-- / project -->

                    <!-- project -->
                    <li class="col-md-6 col-lg-4 project" data-groups='["design"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project8.jpg" alt="">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <a href="single-project.html">
                                            <h5 class="project-title">SHOPPING BAG</h5>
                                            <p class="project-skill">DESIGN</p>
                                        </a><!-- / project link -->
                                        <a href="images/project8.jpg" class="image-lightbox"><i class="fas fa-search"></i></a>
                                    </div><!-- / hovereffect-title -->
                                </div><!-- / overlay -->
                            </div><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </li><!-- / project -->

                    <!-- project -->
                    <li class="col-md-6 col-lg-4 project" data-groups='["illustrations"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project9.jpg" alt="">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <a href="single-project.html">
                                            <h5 class="project-title">LEATHER POUCH</h5>
                                            <p class="project-skill">ILLUSTRATIONS</p>
                                        </a><!-- / project link -->
                                        <a href="images/project9.jpg" class="image-lightbox"><i class="fas fa-search"></i></a>
                                    </div><!-- / hovereffect-title -->
                                </div><!-- / overlay -->
                            </div><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </li><!-- / project -->

                    <!-- project -->
                    <li class="col-md-6 col-lg-4 project" data-groups='["branding"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project10.jpg" alt="">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <a href="single-project.html">
                                            <h5 class="project-title">CAFE RACER</h5>
                                            <p class="project-skill">BRANDING</p>
                                        </a><!-- / project link -->
                                        <a href="images/project10.jpg" class="image-lightbox"><i class="fas fa-search"></i></a>
                                    </div><!-- / hovereffect-title -->
                                </div><!-- / overlay -->
                            </div><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </li><!-- / project -->

                    <!-- project -->
                    <li class="col-md-6 col-lg-4 project" data-groups='["illustrations"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project11.jpg" alt="">
                                <div class="overlay">
                                    <div class="hovereffect-title">
                                        <a href="single-project.html">
                                            <h5 class="project-title">FANCY POUCH</h5>
                                            <p class="project-skill">ILLUSTRATIONS</p>
                                        </a><!-- / project link -->
                                        <a href="images/project11.jpg" class="image-lightbox"><i class="fas fa-search"></i></a>
                                    </div><!-- / hovereffect-title -->
                                </div><!-- / overlay -->
                            </div><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </li><!-- / project -->

                    <!-- project -->
                    <li class="col-md-6 col-lg-4 project" data-groups='["design"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project12.jpg" alt="">
                                 <div class="overlay">
                                    <div class="hovereffect-title">
                                        <a href="single-project.html">
                                            <h5 class="project-title">HARD BOX</h5>
                                            <p class="project-skill">DESIGN</p>
                                        </a><!-- / project link -->
                                        <a href="images/project12.jpg" class="image-lightbox"><i class="fas fa-search"></i></a>
                                    </div><!-- / hovereffect-title -->
                                </div><!-- / overlay -->
                            </div><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </li><!-- / project -->
                </ul> <!-- / portfolio -->
            </div><!-- / container -->
        </section>
        <!-- / portfolio -->

        <div class="spacer">&nbsp;</div>

        <section id="facts" class="container content-first">
            <div class="boxed-content content-wrapper-lowered">
                <div class="row">
                    <!-- fact -->
                    <div class="col-md-6 col-lg-3 text-center fact-item">
                        <i class="fact-icon fas fa-briefcase mb-3 text-primary"></i>
                        <h3 class="timer" id="projects" data-to="2437" data-speed="3000">10</h3>
                        <h5 class="fact-title">PROJECTS</h5>
                    </div>
                    <!-- / fact -->

                    <!-- fact -->
                    <div class="col-md-6 col-lg-3 text-center fact-item">
                        <i class="fact-icon fas fa-lightbulb mb-3 text-primary"></i>
                        <h3 class="timer" id="star" data-to="369" data-speed="4000">120</h3>
                        <h5 class="fact-title">IDEAS</h5>
                    </div>
                    <!-- / fact -->

                    <!-- fact -->
                    <div class="col-md-6 col-lg-3 text-center fact-item">
                        <i class="fact-icon fas fa-user mb-3 text-primary"></i>
                        <h3 class="timer" id="client" data-to="691" data-speed="5000">312</h3>
                        <h5 class="fact-title">CLIENTS</h5>
                    </div>
                    <!-- / fact -->


                    <!-- fact -->
                    <div class="col-md-6 col-lg-3 text-center fact-item">
                        <i class="fact-icon fas fa-coffee mb-3 text-primary"></i>
                        <h3 class="timer" id="coffee" data-to="4739" data-speed="6000">4739</h3>
                        <h5 class="fact-title">COFFEE</h5>
                    </div>
                    <!-- / fact -->
                </div><!-- / row -->
            </div><!-- / container -->
        </section><!-- / facts -->

        <div class="spacer">&nbsp;</div>

        <section id="info" class="info-bg dark parallax content-second">
            <div class="container">
                <div class="row vcenter">
                    <div class="col-md-6 mb-3">
                        <h3 class="section-title mb-0">OUR STORY</h3>
                        <div class="spacer">&nbsp;</div>
                        <p class="mb-3">Fusce laoreet magna et risus aliquam egestas. Fusce a nunc vulputate, facilisis purus quis, dignissim erat. Integer a felis eu nulla suscipit condimentum id vel metus. Ut eget dictum nisl. Nunc lorem enim, volutpat quis diam eu, luctus tristique lorem. Praesent rhoncus ultrices rhoncus. Sed ut ante tincidunt, ultrices purus at, vestibulum orci. Sed ac arcu metus. Praesent lobortis est nec mi.</p>
                        <p>Donec ac augue a dolor porttitor elementum molestie blandit massa. Aliquam eget mollis orci, eu vestibulum nunc. Integer venenatis malesuada posuere. Nunc efficitur nisi ut tincidunt dapibus.</p>
                        <a href="#" class="mt-3 btn btn-info">More Info</a>
                    </div><!-- / column -->
                    <div class="col-md-6 feature-left">
                        <div class="feature block wimage">
                            <div class="feature-icon">
                                <img src="images/icons/idea-icon-white.png" alt="" class="feature-block-image">
                            </div>
                            <h4>CREATIVITY</h4>
                            <p>Vestibulum consectetur leo sed metus cursus dictum. Vestibulum et viverra ipsum. Duis posuere egestas feugiat. Maecenas nec faucibus dolor, eget lobortis justo.</p>
                        </div><!-- feature-block -->

                        <div class="feature block wimage">
                            <div class="feature-icon">
                                <img src="images/icons/atom-icon-white.png" alt="" class="feature-block-image">
                            </div>
                            <h4>INSPIRATION</h4>
                            <p>Vestibulum consectetur leo sed metus cursus dictum. Vestibulum et viverra ipsum. Duis posuere egestas feugiat. Maecenas nec faucibus dolor, eget lobortis justo.</p>
                        </div><!-- feature-block -->

                        <div class="feature block wimage">
                            <div class="feature-icon">
                                <img src="images/icons/cup-icon-white.png" alt="" class="feature-block-image">
                            </div>
                            <h4>MOTIVATION</h4>
                            <p>Vestibulum consectetur leo sed metus cursus dictum. Vestibulum et viverra ipsum. Duis posuere egestas feugiat. Maecenas nec faucibus dolor, eget lobortis justo.</p>
                        </div><!-- feature-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
        </section><!-- / info -->

        <section id="info2">
            <div class="container">
                <div class="row vcenter">
                    <div class="col-md-6 feature-right">
                        <div class="feature block wimage mr-3">
                            <div class="feature-icon">
                                <img src="images/icons/design-icon.png" alt="" class="feature-block-image mr-3">
                            </div>
                            <h4>GRAPHIC DESIGN</h4>
                            <p>Fusce a nunc vulputate, facilisis purus quis, dignissim erat. Integer a felis eu nulla suscipit condimentum id vel metus. Ut eget dictum nisl. Nunc lorem enim, volutpat quis.</p>
                        </div><!-- feature-block -->

                        <div class="feature block wimage mr-3">
                            <div class="feature-icon">
                                <img src="images/icons/layer-icon.png" alt="" class="feature-block-image mr-3">
                            </div>
                            <h4>WEB DESIGN</h4>
                            <p>Fusce a nunc vulputate, facilisis purus quis, dignissim erat. Integer a felis eu nulla suscipit condimentum id vel metus. Ut eget dictum nisl. Nunc lorem enim, volutpat quis.</p>
                        </div><!-- feature-block -->

                        <div class="feature block wimage mr-3">
                            <div class="feature-icon">
                                <img src="images/icons/camera-icon.png" alt="" class="feature-block-image mr-3">
                            </div>
                            <h4>PHOTOGRAPHY</h4>
                            <p>Fusce a nunc vulputate, facilisis purus quis, dignissim erat. Integer a felis eu nulla suscipit condimentum id vel metus. Ut eget dictum nisl. Nunc lorem enim, volutpat quis.</p>
                        </div><!-- feature-block -->
                    </div><!-- / column -->

                    <div class="col-md-6 mb-3 inner-space-3x bg-white">
                        <h3 class="section-title mb-0">OUR SERVICES</h3>
                        <div class="spacer">&nbsp;</div>
                        <p class="mb-3">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse efficitur nunc est, quis molestie massa porta non. Donec diam nulla, gravida vitae lacus non, gravida lacinia ex. Sed nibh odio, aliquet sed tempor vel, bibendum in quam.</p>
                        <ul class="list-featured space-bottom-20">
                            <li class="mb-3">Aliquam molestie quam in tincidunt</li>
                            <li class="mb-3">Morbi quis neque non nisl egestas</li>
                            <li class="mb-3">Vestibulum nisi nibh, pulvinar sit amet</li>
                            <li class="mb-3">Mauris pretium elit ac facilisis mollis</li>
                        </ul><!-- / list-featured -->
                        <p class="mb-3">Curabitur porttitor dolor eget arcu lacinia porttitor. Etiam sit amet ornare ante. Maecenas non rhoncus mauris.</p>
                    </div><!-- / column -->
                </div><!-- / row -->
            </div><!-- / container -->
        </section><!-- / info2 -->

        <section id="recent-news">
            <div class="spacer-2x">&nbsp;</div>
            <h2 class="text-center">RECENT NEWS</h2>
                <p class="text-center">Most recent news &amp; updates</p>
                <div class="spacer-2x">&nbsp;</div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="blog block">
                            <div class="post-image">
                                <a href="single-post.html">
                                    <img src="images/blog-post.jpg" alt="">
                                </a>
                            </div><!-- / post-image -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <p class="text-sm"><i class="far fa-user text-primary mr-1"></i> KING <i class="far fa-bookmark text-primary ml-3 mr-1"></i> CREATIVE <i class="far fa-clock text-primary ml-3 mr-1"></i> 18 AUG 2018</p>
                                </div><!-- / post-meta -->
                                <h4 class="post-title"><a href="single-post.html">MENU BOOK</a></h4>
                                <p class="mb-3">Donec rhoncus sodales lacus maet pellentesque molestie. Maecenas sodales molestie ipsum.</p>
                                <p class="comments-info text-sm mt-1 mb-2"><i class="far fa-comment text-primary mr-1"></i> (3) COMMENTS</p>
                            </div><!-- / post-content -->
                        </div><!-- / blog-block -->
                    </div><!-- / column -->

                    <div class="col-lg-4">
                        <div class="blog block">
                            <div class="post-image">
                                <a href="single-post.html">
                                    <img src="images/blog-post2.jpg" alt="">
                                </a>
                            </div><!-- / post-image -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <p class="text-sm"><i class="far fa-user text-primary mr-1"></i> KING <i class="far fa-bookmark text-primary ml-3 mr-1"></i> TRAVEL <i class="far fa-clock text-primary ml-3 mr-1"></i> 17 AUG 2018</p>
                                </div><!-- / post-meta -->
                                <h4 class="post-title"><a href="single-post.html">AIRPORT LOUNGE</a></h4>
                                <p class="mb-3">Duis posuere orci id augue dapibus, non ullamcorper dui auctor. Vestibulum lobortis.</p>
                                <p class="comments-info text-sm mt-1 mb-2"><i class="far fa-comment text-primary mr-1"></i> (1) COMMENT</p>
                            </div><!-- / post-content -->
                        </div><!-- / blog-block -->
                    </div><!-- / column -->

                    <div class="col-lg-4">
                        <div class="blog block">
                            <div class="post-image">
                                <a href="single-post.html">
                                    <img src="images/blog-post3.jpg" alt="">
                                </a>
                            </div><!-- / post-image -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <p class="text-sm"><i class="far fa-user text-primary mr-1"></i> KING <i class="far fa-bookmark text-primary ml-3 mr-1"></i> DESIGN <i class="far fa-clock text-primary ml-3 mr-1"></i> 16 AUG 2018</p>
                                </div><!-- / post-meta -->
                                <h4 class="post-title"><a href="single-post.html">WALL LIGHT</a></h4>
                                <p class="mb-3">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
                                <p class="comments-info text-sm mt-1 mb-2"><i class="far fa-comment text-primary mr-1"></i> (0) COMMENTS</p>
                            </div><!-- / post-content -->
                        </div><!-- / blog-block -->
                    </div><!-- / column -->
                </div><!-- / row -->
                <div class="spacer">&nbsp;</div>

                <div class="text-center">
                    <a href="blog.html" class="btn btn-info btn-pill mb-3">View More</a>
                </div>
            </div><!-- / container -->
        </section><!-- / recent-news -->


</body>

</html>
