
        <header class="boxed-single-page parallax">
            <div class="container">
                <div class="header-content text-center">
                    <h2 class="text-white">The Hacking Project</h2>
                    <p class="text-white mb-0">Programme de Sayna </p>
                </div><!-- / header-content -->
            </div><!-- / container -->
        </header>

        <div class="spacer">&nbsp;</div>

        <section id="posts">
            <div class="spacer">&nbsp;</div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 blog-content">
                        <div class="blog block">
                            <img src="images/thp5.jpg" alt="">
                            <div class="post-content">
                                <div class="post-meta">
                                    <p class="text-sm"><i class="far fa-clock text-primary ml-3 mr-1"></i> Durée : 4 mois</p>
                                </div><!-- / post-meta -->
                                <h4 class="post-title text-bold">PROGRAMME</h4>
                                <p href="single-post-boxed.html" class="recent-post-title"> ✔️ Introduction</p>

                                  <ul>
                                      <li> 👉 Les bases de HTML et CSS, pour apprendre à faire un site </li>
                                      <li> 👉 Mettre un site en ligne pour que tout le monde puisse le voir </li>
                                      <li> 👉 Les outils des pros tels que Git et GitHub, pour mieux les comprendre </li>
                                      <li> 👉 Le célèbre framework Bootstrap, pour faire des sites pros rapidement </li>
                                  </ul>

                                    <p href="single-post-boxed.html" class="recent-post-title"> ✔️ Ruby, un langage simple, cool et efficace</p>

                                    <ul>
                                          <li> 👉 Les bases de la programmation et de l'algorithmie </li>
                                          <li> 👉 L'automatisation de tâches répétitives grâce à la programmation </li>
                                          <li> 👉 Des robots qui vont analyser le web à votre place </li>
                                          <li> 👉 Le paradigme de la Porgrammation Orientée Objet, à la base de langages très célèbres </li>
                                    </ul>
                                    <p href="single-post-boxed.html" class="recent-post-title"> ✔️ Ruby on Rails, base de donnée complexe et premier site</p>

                                    <ul>
                                          <li> 👉 L'architecture logicielle de bases de données grâce à SQL </li>
                                          <li> 👉 Réalisation d'une application web avec une base de données et des accès utilisateurs </li>
                                          <li> 👉 Découverte de l'univers du web avec les sessions et les cookies </li>
                                          <li> 👉 Mise en ligne sur des serveurs dédiés pour faire profiter de son application à tout le monde </li>
                                    </ul>
                                    <p href="single-post-boxed.html" class="recent-post-title"> ✔️ JavaScript, Apprends à rendre ton site plus flexible</p>

                                    <ul>
                                          <li> 👉 Les bases de JavaScript, le langage très populaire du front </li>
                                          <li> 👉 La gestion des événements pour lancer des animations sur ton site à ta guise</li>
                                          <li> 👉 ES6, le JavaScript moderne </li>
                                          <li> 👉 La manipulation de base de données en front avec AJAX </li>
                                    </ul>
                                    <blockquote class="blockquote">
                                      <h5 class="mb-2"> Une pédagogie révolutionaire</h5>
                                      <ul>
                                            <li> ✍  Apprenez ensemble, grâce à la communauté THP </li>
                                            <li> ✍  Sans locaux : vous travaillez où vous vous sentez bien</li>
                                            <li> ✍  Des cours constamment mis à jour pour VOUS correspondre </li>
                                            <li> ✍ Un prix défiant toute concurrence </li>
                                      </ul>
                                    </blockquote>
                                </div><!-- / post-content -->
                        </div><!-- / blog-block -->

                        <div class="spacer">&nbsp;</div>

                        <div id="comments" class="comments">
                            <div class="container">
                                <h4 class="mb-3">Une journée type chez THP</h4>

                                <p>Vous vous réveillez encore grogui de votre week-end et c’est déjà le moment de vous y remettre ! Nous sommes le lundi et cela fait 3 semaines que vous avez commencé The Hacking Project.
Vous avez donné RDV à votre groupe dans une bibliothèque. Vous y arrivez plus ou moins à l’heure et vous vous mettez à travailler sur le programme de la journée : </p>
                                    <ul>
                                          <li> 🤜   Le <b>matin</b>  vous ingérez de l’information sur ce qu'est une API et comment fonctionne les requêtes Get, Post, Delete, Update. En bref, vous apprenez. </li>
                                              <br>
                                          <li> 🤜    Le <b>midi</b> vous mangez avec votre groupe un sandwich et vous discutez des projets que vous avez fait la semaine précédente. </li>
                                              <br>
                                          <li> 🤜     L’<b>après-midi</b>, vous découvrez comment exploiter concrètement une API. Par exemple vous devez créer un Bot (petit programme qui automatise des tâches humaines manuelles) qui vous permettra de suivre toute l’actualité sur Elon Musk, le milliardaire americain qui lance des fusées vers Mars. Votre mission sera par exemple de faire en sorte que votre bot like automatiquement tous les messages twitter d’Elon Musk.  </li>
                                              <br>
                                          <li>🤜  Après cela vous irez chercher le cours de la bourse en temps réel via une API pour créer un algorithme de trading (vous verrez ce n’est pas très compliqué). </li>
                                    </ul>
                                <div class="spacer-2x">&nbsp;</div>

                                <!-- comment form -->

                                <!-- / comment form -->
                            </div><!-- / container -->
                        </div><!-- / comments -->
                    </div><!-- / blog-content -->

                    <div class="col-md-4 blog-sidebar mt-3">
                        <div class="sidebar-widget">
                            <div class="about-widget">
                                <h4 class="widget-title text-center">The Hacking Project</h4>
                                <div class="about-image text-center">
                                    <img src="images/thp.png" alt="">
                                </div><!-- / about-image -->
                                <p class="text-center">Soyez ensemble pour changer le monde</p>
                            </div><!-- / about-widget -->
                        </div><!-- / sidebar-widget -->

                        <div class="sidebar-widget">
                            <h4 class="widget-title text-center">ETUDIANTS</h4>
                            <div class="spacer">&nbsp;</div>
                            <div class="post-widget">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="recent-posts first">
                                            <div class="recent-post-image">
                                                <img src="images/thp1.jpg" alt="">
                                            </div><!-- / recent-post-image -->
                                            <div class="recent-post-content">
                                                <a href="single-post-boxed.html" class="recent-post-title">Lapins</a>
                                                <p class="text-sm mb-2">Promotion 1</p>
                                            </div><!-- / recent-post-content -->
                                        </div><!-- / recent-posts -->
                                    </li>
                                    <li>
                                        <div class="recent-posts first">
                                            <div class="recent-post-image">
                                                <img src="images/thp2.jpg" alt="">
                                            </div><!-- / recent-post-image -->
                                            <div class="recent-post-content">
                                                <a href="single-post-boxed.html" class="recent-post-title">Loulous</a>
                                                <p class="text-sm mb-2">Promotion 2</p>
                                            </div><!-- / recent-post-content -->
                                        </div><!-- / recent-posts -->
                                    </li>
                                    <li>
                                        <div class="recent-posts pt-2">
                                            <div class="recent-post-image">
                                                <img src="images/thp3.jpg" alt="">
                                            </div><!-- / recent-post-image -->
                                            <div class="recent-post-content">
                                                <a href="single-post-boxed.html" class="recent-post-title">Doudounes</a>
                                                <p class="text-sm mb-2">Promotion 3</p>
                                            </div><!-- / recent-post-content -->
                                        </div><!-- / recent-posts -->
                                    </li>
                                    <li>
                                        <div class="recent-posts first">
                                            <div class="recent-post-image">
                                                <img src="images/thp4.jpg" alt="">
                                            </div><!-- / recent-post-image -->
                                            <div class="recent-post-content">
                                                <a href="single-post-boxed.html" class="recent-post-title">Warriors</a>
                                                <p class="text-sm mb-2">Promotion 4</p>
                                            </div><!-- / recent-post-content -->
                                        </div><!-- / recent-posts -->
                                    </li>
                                </ul>
                            </div><!-- / post-widget -->
                        </div><!-- / sidebar-widget -->



                    </div><!-- / blog-sidebar -->
                </div><!-- / row -->
            </div><!-- / container -->
        </section><!-- / posts -->
